<form #form="ngForm">

    <div>
        <p>{{newPhoto.url}}</p>
        <!-- 
            <p>{{newPhoto.pokemon.id}}</p>
            <p>{{newPhoto.pokemon.name}}</p>
            <p>{{newPhoto.pokemon.type1}}</p>
            <p>{{newPhoto.pokemon.type2}}</p> 
        -->
    </div>

    <div>
        <div>
            <input type="text" [(ngModel)]="newPhoto.url" name="photoUrl" #photoUrl="ngModel" required>
            <span [hidden]="photoUrl.valid">Url obligatoire</span>
        </div>
        <div>
            <button type="button" class="btn btn-success"   (click)="addPhoto()">Ajouter</button>
            <button type="button" class="btn btn-secondary" (click)="closeAddPhoto()">Annuler</button>
        </div>
    </div>

</form>