.container-type{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;

    padding: 3px 6px;
}

.with-border {
    border-width: 1px;
    border-style: solid;
}

.label-title{
    color: var(--color-text-white);
    font-family: var(--main-font-family);
    font-size: 12px;
    line-height:normal;
    margin: 0;
}

.type-steel {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-steel);
    background: var(--color-type-steel);
}

.type-fighting {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-fighting);
    background: var(--color-type-fighting);
}

.type-dragon {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-dragon);
    background: var(--color-type-dragon);
}

.type-water {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-water);
    background: var(--color-type-water);
}

.type-electric {
    color: var(--color-text-black);
    
    border-color: var(--color-dark-type-electric);
    background: var(--color-type-electric);
}

.type-fairy {
    color: var(--color-text-black);
    
    border-color: var(--color-dark-type-fairy);
    background: var(--color-type-fairy);
}

.type-fire {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-fire);
    background: var(--color-type-fire);
}

.type-ice {
    color: var(--color-text-black);
    
    border-color: var(--color-dark-type-ice);
    background: var(--color-type-ice);
}

.type-bug {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-bug);
    background: var(--color-type-bug);
}

.type-normal {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-normal);
    background: var(--color-type-normal);
}

.type-poison {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-poison);
    background: var(--color-type-poison);
}

.type-grass {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-grass);
    background: var(--color-type-grass);
}

.type-rock {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-rock);
    background: var(--color-type-rock);
}

.type-ground {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-ground);
    background: var(--color-type-ground);
}

.type-ghost {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-ghost);
    background: var(--color-type-ghost);
}

.type-dark {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-dark);
    background: var(--color-type-dark);
}

.type-flying {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-flying);
    background: var(--color-type-flying);
}

.type-psychic {
    color: var(--color-text-white);
    
    border-color: var(--color-dark-type-psychic);
    background: var(--color-type-psychic);
}
