.container-type{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;

    padding: 3px 6px;
}

.with-border {
    border-width: 1px;
    border-style: solid;
}

.label-title{
    color: var(--color-text-white);
    font-family: var(--main-font-family);
    font-size: 12px;
    line-height:normal;
    margin: 0;
}

.type-steel {
    color: var(--color-text-white);
    
    border-color: #003345;
    background: var(--color-type-steel);
}

.type-fighting {
    color: var(--color-text-white);
    
    border-color: #5C2F00;
    background: var(--color-type-fighting);
}

.type-dragon {
    color: var(--color-text-white);
    
    border-color: #000B62;
    background: var(--color-type-dragon);
}

.type-water {
    color: var(--color-text-white);
    
    border-color: #00316C;
    background: var(--color-type-water);
}

.type-electric {
    color: var(--color-text-black);
    
    border-color: #574400;
    background: var(--color-type-electric);
}

.type-fairy {
    color: var(--color-text-black);
    
    border-color: var(--colors-neutral-black);
    background: var(--color-type-fairy);
}

.type-fire {
    color: var(--color-text-white);
    
    border-color: #8B0001;
    background: var(--color-type-fire);
}

.type-ice {
    color: var(--color-text-black);
    
    border-color: #00576C;
    background: var(--color-type-ice);
}

.type-bug {
    color: var(--color-text-white);
    
    border-color: #4C5700;
    background: var(--color-type-bug);
}

.type-normal {
    color: var(--color-text-white);
    
    border-color: #303030;
    background: var(--color-type-normal);
}

.type-poison {
    color: var(--color-text-white);
    
    border-color: #3A0063;
    background: var(--color-type-poison);
}

.type-grass {
    color: var(--color-text-white);
    
    border-color: #105400;
    background: var(--color-type-grass);
}

.type-rock {
    color: var(--color-text-white);
    
    border-color: #463E00;
    background: var(--color-type-rock);
}

.type-ground {
    color: var(--color-text-white);
    
    border-color: #381900;
    background: var(--color-type-ground);
}

.type-ghost {
    color: var(--color-text-white);
    
    border-color: #3F203F;
    background: var(--color-type-ghost);
}

.type-dark {
    color: var(--color-text-white);
    
    border-color: #2C2322;
    background: var(--color-type-dark);
}

.type-flying {
    color: var(--color-text-white);
    
    border-color: #2E4254;
    background: var(--color-type-flying);
}

.type-psychic {
    color: var(--color-text-white);
    
    border-color: #4B0019;
    background: var(--color-type-psychic);
}
