.container-type{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;

    padding: 3px 6px;
}

.with-border {
    border-width: 1px;
    border-style: solid;
}

.label-title{
    color: var(--color-text-white);
    font-family: var(--main-font-family);
    font-size: 12px;
    line-height:normal;
    margin: 0;
}

.type-steel {
    color: var(--color-text-white);
    
    border-color: #003345;
    background: #5FA3BA;
}

.type-fighting {
    color: var(--color-text-white);
    
    border-color: #5C2F00;
    background: #FF8100;
}

.type-dragon {
    color: var(--color-text-white);
    
    border-color: #000B62;
    background: #4F60E2;
}

.type-water {
    color: var(--color-text-white);
    
    border-color: #00316C;
    background: #2681F0;
}

.type-electric {
    color: var(--color-text-black);
    
    border-color: #574400;
    background: #FAC200;
}

.type-fairy {
    color: var(--color-text-black);
    
    border-color: var(--colors-neutral-black);
    background: #F071EF;
}

.type-fire {
    color: var(--color-text-white);
    
    border-color: #8B0001;
    background: #E72324;
}

.type-ice {
    color: var(--color-text-black);
    
    border-color: #00576C;
    background: #3DD9FF;
}

.type-bug {
    color: var(--color-text-white);
    
    border-color: #4C5700;
    background: #92A312;
}

.type-normal {
    color: var(--color-text-white);
    
    border-color: #303030;
    background: #A1A2A1;
}

.type-poison {
    color: var(--color-text-white);
    
    border-color: #3A0063;
    background: #923FCC;
}

.type-grass {
    color: var(--color-text-white);
    
    border-color: #105400;
    background: #3DA225;
}

.type-rock {
    color: var(--color-text-white);
    
    border-color: #463E00;
    background: #B0AB82;
}

.type-ground {
    color: var(--color-text-white);
    
    border-color: #381900;
    background: #92501C;
}

.type-ghost {
    color: var(--color-text-white);
    
    border-color: #3F203F;
    background: #713F71;
}

.type-dark {
    color: var(--color-text-white);
    
    border-color: #2C2322;
    background: #4F3E3D;
}

.type-flying {
    color: var(--color-text-white);
    
    border-color: #2E4254;
    background: #82BBF0;
}

.type-psychic {
    color: var(--color-text-white);
    
    border-color: #4B0019;
    background: #F03F7A;
}
