<article class="row justify-content-center">
                
    <!-- NUMERO & NOM -->
    <div class="row id">N°{{pokemon.formattedId}}</div>
    <div class="row text-capitalize name">{{pokemon.name}}</div>
    
    <!-- RETOUR A LA LIGNE -->
    <div class="row w-100"></div>
    
    <!--PHOTO DU POKEMON -->
    <div class="row">
        
        <!--(click)="navigateToDetails((pokemon.id).toString())"-->
        <img 
            style="background-color: beige" 
            class="rounded" 
            *ngIf="pokemon.urlPhoto;else noPhoto" 
            [src]="pokemon.urlPhoto"
            (click)="onSelectPokemon(pokemon.id)"
        >

        <ng-template #noPhoto>
            <b>Pas d'image</b>
        </ng-template>
    </div>

    <!-- TYPES -->
    <div class="row mt-3">
        
        <div class="col-12">

            <div class="row justify-content-between">

                <div class="col-5 text-center rounded text-capitalize" [ngClass]="getTypeClass(pokemon.types1?.name)">
                    {{pokemon.types1?.name}}
                </div>

                <div class="col-5 text-center rounded text-capitalize" *ngIf="pokemon.types2?.name" [ngClass]="getTypeClass(pokemon.types2?.name)">
                    {{pokemon.types2?.name}}
                </div>
            </div>

        </div>

    </div>

    <!-- RETOUR A LA LIGNE -->
    <div class="row w-100"></div>

    <!-- ICONE SOUS L'IMAGE -->
    <!-- <div class="col footer pb-2">
        <div class="d-flex gap-5">
            <div class="">
                <i class="fa fa-heart-o btn" style="font-size:36px;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
            </div>
            <div class="">
                <i class="fa fa-heart-o btn" style="font-size:36px;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
            </div>
        </div>
    </div> -->
    
</article>