.container{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 16px;
}


.container-data{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.container-title-subtitle{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.container-subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.container-types{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}


.label-title{
    align-self: stretch;
    color: var(--main-color-black);
    font-family: var(--main-font-family);
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.label-subtitle{
    align-self: stretch;
    color: var(--color-text-secondary-grey);
    font-family: var(--main-font-family);
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    margin: 0;
}

/* Default display: show full text, hide short text */
.full-text {display: inline;}
.short-text {display: none;}
.very-short-text {display: none;}





/* Media query to adjust text on smaller screens */
@media (max-width: 1136px) {
    .full-text {display: none;}
    .short-text {display: inline;}
    .very-short-text {display: none;}
}

@media (max-width: 1004px) {
    .full-text {display: none;}
    .short-text {display: none;}
    .very-short-text {display: inline;}
}

/* EVITER QUE LE TITRE NE SOIT COUPE */
/* IL FAUT LES MEMES REGLES QUE DANS POKEMON-BASE-STATS && POKMON DETAILS  */
@media (max-width: 915px) {
    .full-text {display: inline;}
    .short-text {display: none;}
    .very-short-text {display: none;}
}

@media (max-width: 429px) {
    .full-text {display: none;}
    .short-text {display: inline;}
    .very-short-text {display: none;}
}

/* IL FAUT LES MEMES REGLES QUE DANS pokemon-details  */
@media (max-width: 359px) {
    .full-text {display: none;}
    .short-text {display: none;}
    .very-short-text {display: inline;}

    .label-title{font-size: 18px;}
}