.container {
  display: flex;
  padding: var(--sds-size-space-400) var(--sds-size-space-300);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sds-size-space-300);

  width: 224px;

  border-radius: var(--sds-size-radius-400);
  border: var(--sds-size-stroke-border) solid var(--Strokes-primary_stroke, #C5C5C5);
  opacity: var(--sds-size-stroke-border);
  background: #FFF;

  max-height: 500px; /* Une valeur suffisamment grande pour contenir tout le contenu */
  
}

.container.expanded .container-evolution-methods {
  max-height: 500px; /* Une valeur suffisamment grande pour contenir tout le contenu */
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.container-head{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--sds-size-space-100);
  align-self: stretch;
}

.container-img-pokemon{
  width: 100%;
  height: 100%;
  border-radius: 12px;  
  padding:4px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-pokemon{
  width: 69px;
  height: 69px;
}

.container-rarity{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--sds-size-space-100);
  align-self: stretch;
}

.container-condition{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.container-evolution-methods {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.container-evolution-methods.truncated {
  max-height: 22px; /* Valeur pour montrer seulement une lignes */
}

.container-evolution-methods p {
  margin: 0;
  white-space: normal; /* Permet le retour à la ligne */
  word-wrap: break-word; /* Assure que les longs mots sont coupés si nécessaire */
}

.container-evolution-method{
  gap:0;
  min-height: 22px;
}

.container-types{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sds-size-space-200);
  align-self: stretch;
}

.container-type{
  display: flex;
  align-items: flex-start;
  gap: var(--sds-size-space-100);
  align-self: stretch;
}

.expand-button, .expand-button-placeholder {
  height: 22px; /* Valeur pour qu'elle corresponde à la hauteur du bouton */
  margin-top: 5px;
  width: 100%;
}

.expand-button {
  background: none;
  border: none;
  color: var(--color-text-secondary-grey);
  cursor: pointer;
  padding: 5px;
  text-align: left;
}

.expand-button-placeholder {
  visibility: hidden; /* Le rend invisible mais conserve son espace */
}

.expanded .evolution-methods {
  max-height: none; /* Permet l'affichage complet du contenu */
}

ul{
 margin-bottom: 0; 
}

.label-name-pokemon, .label-name-pokemon-previous{
  font-family: var(--main-font-family);
  align-self: stretch;
  line-height: normal;
  font-style: normal;
  margin:0;
}

.label-name-pokemon{
  overflow: hidden;
  color: var(--color-text-black);
  text-overflow: ellipsis;
  font-size: 18px;
}

.label-subtitle{
  color: var(--color-text-secondary-grey);
  font-size: 14px;
  margin:0;
}

.label-name-pokemon-previous{
  
}

.label-text{
  flex-shrink: 0;
  align-self: stretch;
  color: var(--color-text-black);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--main-font-family);
  font-size: 16px;
  font-style: normal;

  margin: 0;
}

p{
  margin: 0;
}