<!-- Utilisation de Bootstrap pour un conteneur fluide occupant toute la largeur de l'écran -->
<div class="container-fluid">
    
    <!-- Utilisation de Bootstrap pour une ligne flexible avec des colonnes sans wrap -->
    <div class="row flex-nowrap">
      
  
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse position-fixed">
        <!-- Sidebar avec les classes Bootstrap :
            - col-md-3 : Occupe 3 colonnes sur 12 pour les écrans de taille moyenne (≥ 768px)
            - col-lg-2 : Occupe 2 colonnes sur 12 pour les écrans de grande taille (≥ 992px)
            - d-md-block : Affiche le bloc pour les écrans de taille moyenne et plus
            - bg-light : Applique une couleur de fond légère
            - sidebar : Classe personnalisée pour des styles supplémentaires
            - collapse : Permet de replier la sidebar sur les petits écrans
            - position-fixed : Fixe la sidebar à gauche de l'écran
        -->
            
            <div #sidebarScroll class="position-sticky pt-3 sidebar-scroll">
            <!-- position-sticky : Maintient la position relative à son conteneur parent
                pt-3 : Ajoute un padding top de 1rem
                sidebar-scroll : Classe personnalisée pour le défilement vertical -->
                
                <!-- Sidebar de navigation -->
                <div class="mb-5 animation-pokemon" *ngFor="let pokemon of pokemons">
                    <!-- Boucle sur la liste des pokémons et affiche un résumé pour chacun -->
                    <app-pokemon-summary [pokemon]="pokemon" (selectPokemon)="onSelectPokemon($event)"></app-pokemon-summary>
                </div>
        
                <div class="text-center mt-3 mb-5" *ngIf="isLoading">
                    <!-- Affiche un spinner de chargement si isLoading est vrai -->
                    <div class="spinner-border" role="status">
                    <span class="visually-hidden">Chargement...</span>
                    </div>
                </div>
        
                <div class="text-center mt-3 mb-5" *ngIf="pokemons.length >= totalPokemons">
                    <!-- Message indiquant la fin de la liste des pokémons -->
                    <p>Vous avez atteint la fin de la liste des Pokémon !</p>
                </div>
                
            </div>
      </nav>
  
      <!-- Détails du Pokémon -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 offset-md-3 offset-lg-2 detail-scroll">
        <!-- Colonne principale avec les classes Bootstrap :
          - col-md-9 : Occupe 9 colonnes sur 12 pour les écrans de taille moyenne (≥ 768px)
          - ms-sm-auto : Ajoute un margin-start automatique pour centrer sur les petits écrans (≥ 576px)
          - col-lg-10 : Occupe 10 colonnes sur 12 pour les écrans de grande taille (≥ 992px)
          - px-md-4 : Ajoute un padding horizontal de 1.5rem pour les écrans de taille moyenne et plus
          - offset-md-3 : Décale de 3 colonnes pour les écrans de taille moyenne (compense la sidebar fixe)
          - offset-lg-2 : Décale de 2 colonnes pour les écrans de grande taille (compense la sidebar fixe)
          - detail-scroll : Classe personnalisée pour le défilement vertical
        -->
  
        <!-- AFFICHER LES DETAILS DU POKEMON ICI -->
        <div *ngIf="selectedPokemonId">
            <app-pokemon-details [pokemonId]="selectedPokemonId"></app-pokemon-details>
        </div>

        <div *ngIf="!selectedPokemonId" class="text-center">
            <p>Merci de selectionner un pokemon</p>
        </div>

      </main>
  
    </div> 
  </div>  