<!-- Sidebar avec les classes Bootstrap :
    - col-xxl-X : Occupe X colonnes sur 12 pour les écrans (≥ 1400px)
    - col-xl-X  : Occupe X colonnes sur 12 pour les écrans (≥ 1200px)
    - col-lg-X  : Occupe X colonnes sur 12 pour les écrans (≥ 992px)
    - col-md-X  : Occupe X colonnes sur 12 pour les écrans (≥ 768px)
    - col-sm-X  : Occupe X colonnes sur 12 pour les écrans (≥ 576px)
    - col-xs-X  : Occupe X colonnes sur 12 pour les écrans (< 576px)

    - offset-lg-X : Décale de X colonnes pour les écrans de grande taille (compense la sidebar fixe)
    - d-md-block : Affiche le bloc pour les écrans de taille moyenne et plus
    - bg-light : Applique une couleur de fond légère
    - sidebar : Classe personnalisée pour des styles supplémentaires
    - collapse : Permet de replier la sidebar sur les petits écrans
    - position-fixed : Fixe la sidebar à gauche de l'écran
-->

<!-- Utilisation de Bootstrap pour un conteneur fluide occupant toute la largeur de l'écran -->
<div class="container-fluid">
    
    <!-- Utilisation de Bootstrap pour une ligne flexible avec des colonnes sans wrap -->
    <div class="row flex-nowrap">
      
        <!-- Ecran avec la barre de navigation -->
        <nav id="sidebar" class="
            col-md-3 
            d-md-block collapse
            bg-light sidebar position-fixed"
        >
            
            <div #sidebarScroll class="position-sticky pt-3 sidebar-scroll">
            <!-- position-sticky : Maintient la position relative à son conteneur parent
                pt-3 : Ajoute un padding top de 1rem
                sidebar-scroll : Classe personnalisée pour le défilement vertical -->
                
                <!-- Sidebar de navigation -->
                <div class="mb-2 animation-pokemon" *ngFor="let pokemon of pokemons" [id]="'pokemon-' + pokemon.id">
                    <!-- Boucle sur la liste des pokémons et affiche un résumé pour chacun -->
                    <app-pokemon-summary-tile 
                        [pokemon]="pokemon" 
                        (selectPokemon)="onSelectPokemon($event)"
                        [isSelected]="pokemon.id === selectedPokemonId"
                    ></app-pokemon-summary-tile>
                </div>
                
                <!-- Gestion de l'affichage du chargement -->
                <div>
        
                    <div class="text-center mt-3 mb-5" *ngIf="isLoading">
                        <!-- Affiche un spinner de chargement si isLoading est vrai -->
                        <app-spinner></app-spinner>
                    </div>
            
                    <div class="text-center mt-3 mb-5" *ngIf="pokemons.length >= totalPokemons">
                        <!-- Message indiquant la fin de la liste des pokémons -->
                        <p>Vous avez atteint la fin de la liste des Pokémon !</p>
                    </div>

                </div>
                
            </div>
        </nav>
  
        <!-- Ecran de détails du Pokémon -->
        <main class="col-md-9 offset-md-3 detail-scroll">

            <!-- AFFICHER LES DETAILS DU POKEMON ICI -->
            <div *ngIf="selectedPokemonId">
                <app-pokemon-details 
                    [pokemonId]="selectedPokemonId"
                    (selectPokemon)="onSelectFromEvolutionList($event)"
                />
            </div>

        </main>
  
    </div> 
  </div>  