html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;     /* Désactive le défilement horizontal pour la page entière */
}

/* .container-fluid est un conteneur Bootstrap qui occupe toute la largeur de l'écran */
.container-fluid {
    height: 100vh;          /* Assure que le conteneur prend toute la hauteur de la fenêtre */
    padding: 0;             /* Enlève les padding par défaut */
    overflow-x: hidden;     /* Désactive le défilement horizontal pour le conteneur */
}

/* .row est une classe Bootstrap pour définir une ligne dans la grille */
.row {
    height: 100%;           /* Assure que la ligne prend toute la hauteur du conteneur parent */
    margin: 0;              /* Enlève les marges par défaut */
    overflow-x: hidden;     /* Désactive le défilement horizontal pour la ligne */
}

/* #sidebar définit le style de la barre latérale */
#sidebar {
    height: 100vh;          /* Ajuste la hauteur pour être la hauteur de la fenêtre */
    overflow-y: auto;       /* Permet le défilement vertical dans la sidebar */
    overflow-x: hidden;     /* Désactive le défilement horizontal pour la sidebar */
    background-color: var(--main-color-white); /* Applique une couleur de fond */
}

/* .sidebar-scroll est une classe personnalisée pour gérer le défilement dans la sidebar */
.sidebar-scroll {
    height: 100%;           /* Assure que le conteneur prend toute la hauteur de la sidebar */
    overflow-y: auto;       /* Permet le défilement vertical */
    overflow-x: hidden;     /* Désactive le défilement horizontal pour le conteneur scroll de la sidebar */
    padding-right:12px;

    /* Pour Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--color-border-general-primary) var(--main-color-white);
}

/* Pour Chrome, Edge, et Safari : Epaisseur scrollBar*/
.sidebar-scroll::-webkit-scrollbar {width: 8px;}
.sidebar-scroll::-webkit-scrollbar-track {background: var(--main-color-white);}
.sidebar-scroll::-webkit-scrollbar-thumb {
    border-radius: 16px;
    border: 8px solid var(--color-border-general-primary);
}

/* .detail-scroll est une classe personnalisée pour gérer le défilement dans le contenu principal */
.detail-scroll {
    height: 100%;           /* Assure que le conteneur prend toute la hauteur disponible */
    overflow-y: auto;       /* Permet le défilement vertical */
    overflow-x: hidden;     /* Désactive le défilement horizontal pour le conteneur scroll du contenu principal */
}

/* Media queries pour les écrans de moins de 768 pixels de large */
@media (max-width: 768px) {
    
    /* Cache la sidebar sur les petits écrans */
    #sidebar {display: none;}

    /* Le contenu principal occupe toute la largeur disponible */
    .detail-scroll {flex: 1 0 100%;}
}

@keyframes bounce {

    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.animation-pokemon {
    transition: transform 0.2s;
    font-family: var(--main-font-family);
}
  
.animation-pokemon:hover {
    animation: bounce 1s;
}