<div class="container">

    <div class="container-head-information-base">

      <div class="container-text">
        <p class="label-pokemon-id">{{pokemon.formattedId}}</p>
      </div>

      <div class="container-text">
        <p class="label-pokemon-name">{{pokemon.formattedName}}</p>
      </div>

      <div class="container-types">
        <div *ngFor="let type of pokemon.types">
          <app-pokemon-type [type]="type.type?.name"/>
        </div>
      </div>

    </div>

    <div class="container-description-img">
        
        <!-- L'image avec Flou -->
        <div class="container-img">
            <img [src]="pokemon.officialArtwork" class="blur"/>
            <img [src]="pokemon.officialArtwork" class="img-pokemon"/>
            <!-- TODO : FAIRE LE BUTTON SHINY
                <button class=""></button> 
            -->
        </div>

        <!-- Les différentes informations -->
        <div class="container-tab-bar">

            <app-custom-tabs>

              <!-- Contenu de l'onglet Resume -->
              <ng-template appPokemonTabContent title="Resume">

                <div class="container-tab-bar-informations">
                  
                  <app-info-section title="Description"   [text]="pokemonSpecies.getFlavorTextByVersion(selectedVersion)"/>
                  <app-info-section title="Species"       [text]="pokemonSpecies.getGenusByLanguage()"/>
                  <app-info-section title="Height"        [text]="pokemon.displayHeights"/>
                  <app-info-section title="Weight"        [text]="pokemon.displayWeights"/>
                  <app-info-section title="Generation"    [text]="pokemonSpecies.generationName"/>
                  <app-info-section title="Habitat"       [text]="pokemonSpecies.formattedHabitat"/>

                </div>

              </ng-template>

              <!-- Contenu de l'onglet Game Data -->
              <ng-template appPokemonTabContent title="Game Data">

                <div class="container-tab-bar-informations">

                  <app-info-section title="Capture rate"            text="{{pokemonSpecies.formattedCaptureRate}} ({{pokemonSpecies.captureRate}}/255)"/>
                  <app-info-section title="Base happiness"          text="{{pokemonSpecies.baseHappiness}}/255"/>
                  <app-info-section title="Egg groups (Hatch time)" text="{{pokemonSpecies.eggGroups}} ({{pokemonSpecies.hatchCounter}} cycles)"/>
                  <app-info-section title="Growth rate"             text="{{growthRate.formattedName}}"/>
                  <app-info-section title="Gender rate">
                      <div extra-content>

                        <div class="progress-stacked">

                          <div class="progress-bar progress-bar-male" role="progressbar" [style.width.%]="(1 - pokemonSpecies.genderRate / 8) * 100"></div>
                          <div class="progress-bar progress-bar-female" role="progressbar"  [style.width.%]="(pokemonSpecies.genderRate / 8) * 100" ></div>
                          
                        </div>

                        <div class="container-label-gender-rate">
                          <p class="label-gender-rate-male">{{ (1 - pokemonSpecies.genderRate / 8) * 100 | number: '1.0-2' }}% Male</p>
                          <p class="label-gender-rate-female">{{ (pokemonSpecies.genderRate / 8) * 100 | number: '1.0-2' }}% Female</p>
                        </div>

                      </div>
                  </app-info-section>

                </div>

              </ng-template>
                
              <!-- Contenu des formes alternatives -->
              <ng-template *ngIf="alternativeForms.length!=1" appPokemonTabContent title="Alternative form(s)">

                <div class="container-tab-bar-informations">

                  <div class="container-alternative-forms" >
                    
                    <div *ngFor="let form of alternativeForms" class="container-alternative-form" (click)="selectedAlternativeForm(form.id)">
                      
                      <!-- TODO : FAIRE UN COMPOSANT -->
                      <div *ngIf="form.name!=pokemon.name">

                        <p class="label-alternative-form">{{form.formattedName}}</p>
                        <img [src]="form.officialArtwork" class="img-forms-alternative"/>

                      </div>

                    </div>

                  </div>

                </div>

              </ng-template>

            </app-custom-tabs>

        </div>

    </div>

</div>