<div class="container">

    <div class="label-title">
      <span class="full-text">{{displayFullStatName(title)}}</span>
      <span class="short-text">{{displayShortStatName(title)}}</span>
    </div>

    <div class="label-value">{{ value }}</div>

    <div class="container-progress-bar">

      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width.%]="(value / 255) * 100"
          [ngClass]="getProgressBarClass(value)"
        ></div>
      </div>
      
    </div>

  </div>
  