<!-- Conteneur principal utilisant une grille responsive -->
<div class="container">

    <div class="row pt-5">

        <!-- Boucle sur chaque Pokémon dans le tableau -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5 animation-pokemon" *ngFor="let pokemon of pokemons">
            <app-pokemon-summary-card [pokemon]="pokemon" (selectPokemon)="onSelectPokemon($event)"></app-pokemon-summary-card>
        </div>

    </div>

    <!-- Indicateur de chargement -->
    <div class="text-center mt-3 mb-5" *ngIf="isLoading">
        <div class="spinner-border" role="status">
        <span class="visually-hidden">Chargement...</span>
        </div>
    </div>
    
    <!-- Message de fin de liste -->
    <div class="text-center mt-3 mb-5" *ngIf="pokemons.length >= totalPokemons">
        <p>Vous avez atteint la fin de la liste des Pokémon !</p>
    </div>

</div>