<app-menu-general (searchEvent)="handleSearch($event)"></app-menu-general>

<!-- MAIN DE L'ECRAN -->
<main class="container">
  <!-- 
  <app-pokemon-summary-list [searchValue]="searchValue"></app-pokemon-summary-list> 
  -->
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<!-- <footer class="fixed-bottom">
  <div class="row">
      <div class="col text-center">
        <i class="fa fa-list" style="font-size:32px"></i>
      </div>

      <div class="col text-center">
        <i class="fa fa-user" style="font-size:32px"></i>
      </div>

      <div class="col text-center">
        <i class="	fa fa-cog" style="font-size:32px"></i>
      </div>
  </div>
</footer> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">TITRE</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
    <button type="button" class="btn btn-primary">Sauvegarder</button>
    </div>
  </div>
  </div>
</div>