.container {
    position: relative;
    height: 100%;
    padding:0px
}

.ability-card {
    display: flex;
    padding: var(--padding-m);
    border-radius: var(--border-corner-large);
    border: var(--border-general-primary);
    flex-direction: column;
    gap: 12px;
}

/* GESTION DU GRADIENT */
.container.hidden-ability .ability-card {
    border: var(--border-width-primary) solid transparent;
    position: relative;
    z-index: 1;
}

.container.hidden-ability .ability-card::before {
    content: '';
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: var(--border-width-primary); /* Ajuste l'épaisseur de la bordure */
    
    border-radius: inherit;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0); /* Crée un masque pour ne pas remplir l'intérieur */
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1; /* Positionne en arrière-plan */
    background: var(--gradient-mythical);
}

/* Effet de flou */
.container.no-hidden-ability .ability-card {
    filter: blur(3px);
    opacity: 0.7;
    position: relative;
}






.label-name-ability{
    color: var(--color-text-primary);
    font-family: var(--main-font-family);
    font-size: 16px;

    margin: 0;
    line-height: 1;
}

.label-name-hidden-ability {
    color: var(--color-badge-mythical);
}

.label-description-ability, .label-hidden-ability-description{
    color: var(--color-text-secondary);
    font-family: var(--main-font-family);
    font-size: 16px;

    margin: 0;
    line-height: 1;
    text-align: justify;
}

/* Style pour le texte "No hidden talent" */
.label-no-hidden-talent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    font-size: 16px;
    font-weight: bold;
    color: var(--color-badge-mythical);
    text-align: center;
    filter: blur(0); /* Annule l'effet de flou pour ce texte */
}

.label-long{display: inline}
.label-short{display: none}
