.container{
    display: flex;
    flex-direction: column;
    gap: 120px;
    align-self: stretch;
}

/* TODO : A gérer */
.container-first-view{
    display: flex;
    flex-direction: column;
    gap: var(--sds-size-space-verybig);
}

.container-weakness-stats{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--sds-size-space-big);
    align-self: stretch;
    flex-wrap: wrap;
}

.container-weakness, .container-stats{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.container-weakness{
    display: block;
}

.container-stats{
}

.container-base-stats{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.container-evolution{
    width: 100%;          /* Largeur du conteneur */
    overflow-x: auto;     /* Active le défilement horizontal si nécessaire */
    white-space: nowrap;  /* Empêche le retour à la ligne du contenu à l'intérieur du conteneur */
}

.container-attacks{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.label-title-weakness, .label-title-stats{
    align-self: stretch;
    color: var(--main-color-black);
    font-family: var(--main-font-family);
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin: 0;
}

.label-title-attacks{
    font-family: var(--main-font-family);
    font-size: 20px;
    color: var(--main-color-black);
}

.label-title-weakness{
}

.label-title-stats{
}

.container-buttons {
    display: flex;
    gap: 6px;
    padding-top: 4px;
    padding-bottom: 4px;

    overflow-x: auto; /* Active le défilement horizontal */
    -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur iOS */
}

.container-buttons::-webkit-scrollbar {height: 1px;}

/* ------------------------------- */
/* GESTION DU TABLEAU DES ATTAQUES */
/* ------------------------------- */
.container-table-attacks{
    width: 100%;
    overflow-x: auto; /* Active le défilement horizontal */
}

.container-table-attacks::-webkit-scrollbar {height: 1px;}

/***************/
/* MEDIA QUERY */
/***************/
/*  CF pokemon-weaknesses.component */
@media (max-width: 882px) {
    .label-title-stats{font-size: 19px;}
}
@media (max-width: 846px) {
    .label-title-stats{font-size: 18px;}
}
@media (max-width: 810px) {
    .label-title-stats{font-size: 17px;}
}
@media (max-width: 773px) {
    .label-title-stats{font-size: 16px;}
}

@media (max-width: 768px) {

    .container,.container-weakness-stats,.container-first-view {
        gap: 96px;
    }

    .container-weakness-stats {
      flex-direction: column;    /* Passe les conteneurs en colonne sur les écrans de moins de 768px de large */
    }
  
    .container-weakness, .container-stats {
      flex: 1 1 100%;            /* Chaque conteneur prend 100% de la largeur du parent sur les petits écrans */
      width: 100%;
    }

    .label-title-stats{font-size: 20px;}
}