<div *ngIf="!isLoading && pokemon" class="container">

    <!-- La vue que l'utilisateur doit voir ABSOLUMENT lorsque qu'il arrive sur la page -->
    <div class="container-first-view">

        <!-- INFORMATIONS GENERALES DU POKEMON -->
        <app-pokemon-details-global-informations 
            [pokemon]="pokemon"
            [pokemonSpecies]="pokemonSpecies"
            [growthRate]="growthRate"
            [selectedVersion]="selectedVersion"
            [alternativeForms]="alternativeForms"
            (selectPokemon)="onSelectPokemon($event)"
        />

        <!-- SENSIBILITES & STAT DE BASE -->
        <div class="container-weakness-stats">

            <div class="container-weakness">

                <app-pokemon-weaknesses [weaknessesAndResistances]="weaknessesAndResistances"/>
                
            </div>

            <div class="container-stats">

                <p class="label-title-stats">Base stats ({{pokemon.totalStats}})</p>

                <div class="container-base-stats">
                    <app-pokemon-base-stats 
                        *ngFor="let stats of pokemon.stats"
                        [title]="stats.stat.name"
                        [value]="stats.baseStat"
                    />
                </div>
                

            </div>

        </div>
        
    </div>

    <!-- Capacités spéciales -->
    <app-pokemon-abilities [abilities]="abilityDetails"></app-pokemon-abilities>


    <!-- CHAINE D'EVOLUTION -->
    <div *ngIf="hasEvolution" class="container-evolution">
        <app-pokemon-list-evolution 
            [pokemon]="pokemon"
            [pokemonSpecies]="pokemonSpecies"
            (selectPokemon)="onSelectPokemon($event)"
            (evolutionStatusChange)="handleEvolutionStatusChange($event)"
        />
    </div>
    
    
    <!-- ATTAQUES DU POKEMON -->
    <div class="container-attacks">

        <!-- SELECTION DE LA VERSION -->
        <div>
            <h3>Sélectionner la version du jeu :</h3>
            <select [(ngModel)]="selectedVersion" (change)="loadMovesForSelectedVersion()">
                <option *ngFor="let version of gameVersions" [value]="version">{{version}}</option>
            </select>
        </div>

        <div class="label-title-attacks">
            Learnset
        </div>

        <div class="container-buttons">
            <app-button label="Lvl-up"      [disabled]="!hasLvlUpMoves"     [active]="activeTabAttack === 'lvl-up'"     (buttonClick)="setActiveTab('lvl-up')"/>
            <app-button label="TM Machine"  [disabled]="!hasMachineMoves"   [active]="activeTabAttack === 'machine'"    (buttonClick)="setActiveTab('machine')"/>
            <app-button label="Breeding"    [disabled]="!hasBreedingMoves"  [active]="activeTabAttack === 'breeding'"   (buttonClick)="setActiveTab('breeding')"/>
            <app-button label="Tutor"       [disabled]="!hasTutorMoves"     [active]="activeTabAttack === 'tutor'"      (buttonClick)="setActiveTab('tutor')"/>
        </div>

        <div class="container-table-attacks" [ngSwitch]="activeTabAttack">

            <app-table-pokemon-moves 
                *ngSwitchCase="'lvl-up'" 
                [moves]="levelUpMovesMethod"
                [moveDetailsByMoveMap]="moveDetailsByMoveMap"
                [selectedVersion]="selectedVersion"
                [isLevelUpMode]="true"
            />

            <app-table-pokemon-moves 
                *ngSwitchCase="'machine'" 
                [moves]="machineMovesMethod"
                [moveDetailsByMoveMap]="moveDetailsByMoveMap"
                [selectedVersion]="selectedVersion"
                [isLevelUpMode]="false"
            />

            <app-table-pokemon-moves 
                *ngSwitchCase="'breeding'" 
                [moves]="eggMovesMethod"
                [moveDetailsByMoveMap]="moveDetailsByMoveMap"
                [selectedVersion]="selectedVersion"
                [isLevelUpMode]="false"
            />

            <app-table-pokemon-moves 
                *ngSwitchCase="'tutor'" 
                [moves]="tutorMovesMethod"
                [moveDetailsByMoveMap]="moveDetailsByMoveMap"
                [selectedVersion]="selectedVersion"
                [isLevelUpMode]="false"
            />

        </div>

    </div>

</div>

<!-- Affiche un spinner de chargement si isLoading est vrai -->
<div *ngIf="isLoading && !pokemon" class="d-flex justify-content-center align-items-center vh-100">
    <app-spinner/>
</div>

    <!-- COMPETENCE SPECIAL DU POKEMON -->
    <!-- <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let ability of pokemon.abilities">
            <span>{{ability.formattedName}}</span>
            <span *ngIf="ability.is_hidden"> (Capacité caché)</span>
        </div>
    </div> -->

    <!-- SPRITES DU POKEMON -->
    <!-- TODO : DOIT DEPENDRE DU CHOIX DE LA VERSION -->
    <!-- <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let sprite of objectValue(pokemon.sprites)">
            <img 
                alt=""
                style="background-color: beige" 
                class="rounded justify-content-center" 
                *ngIf="sprite;else noPhoto" 
                [src]="sprite"
            >
            <ng-template #noPhoto></ng-template>
        </div>
    </div> -->