<!-- Vérifie si la chaîne d'évolution a lieu d'être -->
<div *ngIf="pokemon && evolutionChain.length>1" class="container">

    <div class="label-title">Evolutions</div>

    <div class="container-evolution-chain">

        <!-- Boucle sur chaque maillon de la chaîne d'évolution aplatie -->
        <app-pokemon-summary-card-evolution *ngFor="let pokemon of evolutionChain"
            [pokemon]="pokemon.pokemonDetails"
            [pokemonSpecies]="pokemon.pokemonSpeciesDetails"
            [evolutionDetails]="pokemon.chainLink ? pokemon.chainLink.evolutionDetail : []"
            [pokemonForms]="pokemon.pokemonForms"
            [chainHasRegionalForms]="chainHasRegionalForms"
            [previousPokemon]="pokemon.previousPokemon"
            (selectPokemon)="onSelectPokemon($event)"
        />

    </div>

</div>

<!-- Affiche un spinner de chargement si isLoading est vrai -->
<div *ngIf="!pokemon && evolutionChain.length==1" class="d-flex justify-content-center align-items-center vh-100">
    <app-spinner></app-spinner>
</div>