<article 
    [ngClass]="{
        'not-selected-pokemon': !isSelected, 
        'selected-pokemon': isSelected
    }" 
    (click)="onSelectPokemon(pokemon.id)" 
    class="container-tile"
>

    <!-- Photo -->
    <div class="container-img">

        <img 
            class="img" 
            *ngIf="pokemon.sprites?.otherSprites?.officialArtwork?.frontDefault;else noPhoto" 
            [src]="pokemon.sprites?.otherSprites?.officialArtwork?.frontDefault"
        >
        <ng-template #noPhoto>
            <div class="container-no-img">No image</div>
        </ng-template>

    </div>

    <!-- Informations -->
    <div class="container-informations">

        <!-- Numéro -->
        <div class="label-id" [ngClass]="{'color-not-selected': !isSelected,'color-selected': isSelected}">N°{{pokemon.formattedId}}</div>
        
        <div class="container-name-types" [class.wrap-types]="(typeSizeService.wrapTypes$ | async)">

            <!-- Nom -->
            <div class="container-label-name" [ngClass]="{'color-selected': isSelected}">
                <p class="label-name" [ngClass]="{'color-selected': isSelected}">{{pokemon.formattedName}}</p>
            </div>
            
            <!-- Types -->
            <div 
                class="container-types" 
                [class.wrap-types]="(typeSizeService.wrapTypes$ | async)" 
                [class.display-types]="!(typeSizeService.displayTypes$ | async)"
            >

                <app-pokemon-type *ngFor="let type of pokemon?.types" 
                    [type]="type.type?.name" 
                    [size]="typeSizeService.getTypeSize()"
                    [showBorder]="true"
                />

            </div>
            
        </div>

    </div>
    
</article>