<article 
    [ngClass]="{
        'not-selected-pokemon': !isSelected, 
        'selected-pokemon': isSelected
    }" 
    (click)="onSelectPokemon(pokemon.id)" 
>

    <!-- Photo -->
    <div class="align-items-center">

        <img 
            style="background-color: lightgray; width: 50px; height: 50px;" 
            class="rounded" 
            *ngIf="pokemon.sprites?.otherSprites?.officialArtwork?.frontDefault;else noPhoto" 
            [src]="pokemon.sprites?.otherSprites?.officialArtwork?.frontDefault"
        >
        <ng-template #noPhoto>
            <div class="align-items-center justify-content-center rounded" style="width: 50px; height: 50px; background-color: lightgray;">
                <b>Pas d'image</b>
            </div>
        </ng-template>

    </div>

    <!-- Informations -->
    <div class="justify-content-center align-items-center flex-grow-1">

        <!-- Numéro -->
        <div class="d-flex flex-grow-1">
            <div class="text-muted">N°{{pokemon.formattedId}}</div>
        </div>

        
        <div class="d-flex flex-wrap flex-grow-1">

            <!-- Nom -->
            <div class="d-flex flex-grow-1 text-capitalize font-weight-bold">{{pokemon.name}}</div>
            
            <!-- Types -->
            <div class="d-flex flex-wrap gap-2">

                <app-pokemon-type [type]="pokemon.typesName1"></app-pokemon-type>
                <app-pokemon-type *ngIf="pokemon.types2" [type]="pokemon.typesName2"></app-pokemon-type>

            </div>
            
        </div>

    </div>
    
</article>