/* Base container styles */
.container-rarity {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    height: 22px;
    padding: var(--sds-size-space-150) var(--sds-size-space-200);
    border-radius: 8px;
    
    position: relative;
    background-color: white; /* White background inside the container */
    border: 2px solid transparent;
}

/* Shared gradient and border styles */
.container-border-baby,
.container-border-mega, 
.container-border-gmax, 
.container-border-default, 
.gradient-border-legendary,
.gradient-border-mythical 
{
    position: relative;
    z-index: 1;
}

.gradient-border-legendary::before,
.gradient-border-mythical::before,
.container-border-baby::before,
.container-border-mega::before, 
.container-border-gmax::before, 
.container-border-default::before
{
    content: '';
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 2px; /* Ajuste l'épaisseur de la bordure */
    
    border-radius: inherit;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0); /* Crée un masque pour ne pas remplir l'intérieur */
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1; /* Positionne en arrière-plan */
}

.gradient-border-legendary::before{background: linear-gradient(90deg, #FFBF9C, #E9820B, #5C0683);}
.gradient-border-mythical::before{background: linear-gradient(90deg, #E09CFF, #A30BE9, #DFAF2B);}
.container-border-baby::before{background: var(--color-badge-baby);}
.container-border-mega::before{background: var(--color-badge-mega);}
.container-border-gmax::before{background: var(--color-badge-gmax);}
.container-border-default::before{background: var(--color-text-black);}

.label{
    font-family: var(--main-font-family);
    font-size: 10px;
    line-height:normal;
    margin: 0;
}

.label-baby { color: var(--color-badge-baby); }
.label-legendary { color: var(--color-badge-legendary); }
.label-mythical { color: var(--color-badge-mythical); }
.label-mega { color: var(--color-badge-mega); }
.label-gmax { color: var(--color-badge-gmax); }
.label-default { color: var(--color-text-black); }